.navbar-container {
  border-bottom: solid 1px rgba(0, 0, 0, 0.07);
}

.navbar {
  display: flex;
  align-items: center;
  height: 40px;
  width: 1200px;
  margin: auto;
  padding: 12px 24px;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo {
  color: #28CC95;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: 700;
  padding: 0 20px;
  padding-left: 0px;
  margin: 0;
  text-decoration: none;
}

.nav-link-container {
  display: flex;
  align-items: center;
  vertical-align: center;
}

.nav-link {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  height: 36px;
  padding: 0 16px;
  border-radius: 100px;
  transition: background-color 0.3s, color 0.1s;
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.nav-search {
  // background-color: #00000012;
  // transition-property: background-color;
  // transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  // transition-duration: .3s;
  // border-radius: 100px !important;
  // font-family: "graphik", sans-serif; // todo: google fonts graphik
  
  // line-height: 1.5rem;
  // font-weight: 400;
  // font-size: 1rem;
  // color: #000000e6;
  // padding-left: 44px;

  width: 400px;
  // height: 38px;

      -webkit-tap-highlight-color: transparent;
    font-synthesis: none;
    -webkit-text-size-adjust: 100%;
    --text-x10: #000000e6;
    --text-x20: #0000008c;
    --text-x30: #0000004d;
    --text-white: #fff;
    --text-black: #000000e6;
    --text-inverse: #fff;
    --fill-x10: #000000e6;
    --fill-x20: #00000059;
    --fill-x30: #0003;
    --fill-x40: #0000001a;
    --fill-x50: #00000012;
    --fill-x55: #0000000d;
    --fill-x60: #00000008;
    --fill-white: #fff;
    --fill-inverse: #fff;
    --surface-x10: #fff;
    --surface-x20: #fffffff5;
    --surface-x30: #fff;
    --surface-x40: #fff;
    --surface-inverse: #1a1a1a;
    --surface-overlay: #0006;
    --surface-foreground: #0000000d;
    --surface-foreground-opaque: #f7f7f7;
    --sell-x10: #000000e6;
    --sell-x20: #0000000d;
    --sell-x30: #0000001a;
    --sell-x40: #00000073;
    --sell-x50: #0009;
    --purple-x10: #a0f;
    --purple-x20: #aa00ff14;
    --purple-x30: #aa00ff29;
    --purple-x40: #8f00d6;
    --purple-x50: #609;
    --blue-x10: #265cff;
    --blue-x20: #265cff14;
    --blue-x30: #265cff29;
    --blue-x40: #204dd6;
    --blue-x50: #173799;
    --teal-x10: #00b5d9;
    --teal-x20: #00b5d914;
    --teal-x30: #00b5d91f;
    --teal-x40: #0098b6;
    --teal-x50: #006d82;
    --green-x10: #0ac285;
    --green-x20: #0ac28514;
    --green-x30: #0ac28529;
    --green-x40: #08a370;
    --green-x50: #067450;
    --yellow-x10: #ffd600;
    --yellow-x20: #ffd60014;
    --yellow-x30: #ffd6001f;
    --yellow-x40: #d6b400;
    --yellow-x50: #998000;
    --orange-x10: #ff6a00;
    --orange-x20: #ff6a0014;
    --orange-x30: #ff6a001f;
    --orange-x40: #d65900;
    --orange-x50: #994000;
    --red-x10: #d91616;
    --red-x20: #d916160f;
    --red-x30: #d916161a;
    --red-x40: #d91616;
    --red-x50: #820d3e;
    --brand-primary: #28cc95;
    --brand-secondary: #003221;
    --custom-fill: #00000008;
    --content-width: 1320px;
    --trader-drawer-width: 360px;
    --trader-drawer-width-lg: 300px;
    --header-height: 106px;
    --container-x10: #000000e6;
    --container-x20: #00000059;
    --container-x30: #0000000d;
    --container-x40: #80808005;
    --core-black: #000;
    --core-white: #fff;
    --core-inverse: #fff;
    --stroke-x10: #0003;
    --stroke-x20: #0000001a;
    --stroke-x30: #0000000f;
    --surface-transparent: #fff0;
    --special-gold: #e5bd45;
    --special-silver: #98a7b2;
    --special-bronze: #b28474;
    --special-tradeslip-bg: #fff;
    --font-graphik: "graphik","graphik Fallback";
    --font-graphik-condensed: "graphikCondensed","graphikCondensed Fallback";
    --bprogress-color: var(--green-x10);
    --bprogress-height: 2px;
    --bprogress-spinner-size: 18px;
    --bprogress-spinner-animation-duration: 400ms;
    --bprogress-spinner-border-size: 2px;
    --bprogress-box-shadow: 0 0 10px var(--green-x10), 0 0 5px var(--green-x10);
    --bprogress-z-index: 99999;
    --bprogress-spinner-top: 15px;
    --bprogress-spinner-bottom: auto;
    --bprogress-spinner-right: 15px;
    --bprogress-spinner-left: auto;
    --kalshi-palette-text-x10: rgba(0, 0, 0, 0.9);
    --kalshi-palette-text-x20: rgba(0, 0, 0, 0.55);
    --kalshi-palette-text-x30: rgba(0, 0, 0, 0.3);
    --kalshi-palette-text-black: rgba(0, 0, 0, 0.9);
    --kalshi-palette-text-white: rgba(255, 255, 255, 1);
    --kalshi-palette-text-inverse: rgba(255, 255, 255, 1);
    --kalshi-palette-fill-x10: rgba(0, 0, 0, 0.9);
    --kalshi-palette-fill-x20: rgba(0, 0, 0, 0.35);
    --kalshi-palette-fill-x30: rgba(0, 0, 0, 0.2);
    --kalshi-palette-fill-x40: rgba(0, 0, 0, 0.1);
    --kalshi-palette-fill-x50: rgba(0, 0, 0, 0.07);
    --kalshi-palette-fill-x55: rgba(0, 0, 0, 0.05);
    --kalshi-palette-fill-x60: rgba(0, 0, 0, 0.03);
    --kalshi-palette-fill-white: rgba(255, 255, 255, 1);
    --kalshi-palette-fill-inverse: rgba(255, 255, 255, 1);
    --kalshi-palette-surface-x10: rgba(255, 255, 255, 1);
    --kalshi-palette-surface-x20: rgba(255, 255, 255, 0.96);
    --kalshi-palette-surface-x30: rgba(255, 255, 255, 1);
    --kalshi-palette-surface-x40: rgba(255, 255, 255, 1);
    --kalshi-palette-surface-inverse: rgba(26, 26, 26, 1);
    --kalshi-palette-surface-overlay: rgba(0, 0, 0, 0.4);
    --kalshi-palette-surface-foreground: rgba(0, 0, 0, 0.05);
    --kalshi-palette-yes-x10: rgba(10, 194, 133, 1);
    --kalshi-palette-yes-x20: rgba(10, 194, 133, 0.08);
    --kalshi-palette-yes-x30: rgba(10, 194, 133, 0.16);
    --kalshi-palette-yes-x40: rgba(8, 163, 112, 1);
    --kalshi-palette-yes-x50: rgba(6, 116, 80, 1);
    --kalshi-palette-no-x10: rgba(217, 22, 22, 1);
    --kalshi-palette-no-x20: rgba(217, 22, 22, 0.06);
    --kalshi-palette-no-x30: rgba(217, 22, 22, 0.1);
    --kalshi-palette-no-x40: rgba(217, 22, 22, 1);
    --kalshi-palette-no-x50: rgba(130, 13, 62, 1);
    --kalshi-palette-sell-x10: rgba(0, 0, 0, 0.9);
    --kalshi-palette-sell-x20: rgba(0, 0, 0, 0.05);
    --kalshi-palette-sell-x30: rgba(0, 0, 0, 0.1);
    --kalshi-palette-sell-x40: rgba(0, 0, 0, 0.45);
    --kalshi-palette-sell-x50: rgba(0, 0, 0, 0.6);
    --kalshi-palette-critical-x10: rgba(217, 22, 22, 1);
    --kalshi-palette-critical-x20: rgba(217, 22, 22, 0.06);
    --kalshi-palette-critical-x30: rgba(217, 22, 22, 0.1);
    --kalshi-palette-critical-x40: rgba(217, 22, 22, 1);
    --kalshi-palette-critical-x50: rgba(130, 13, 62, 1);
    --kalshi-palette-purple-x10: rgba(170, 0, 255, 1);
    --kalshi-palette-purple-x20: rgba(170, 0, 255, 0.08);
    --kalshi-palette-purple-x30: rgba(170, 0, 255, 0.16);
    --kalshi-palette-purple-x40: rgba(143, 0, 214, 1);
    --kalshi-palette-purple-x50: rgba(102, 0, 153, 1);
    --kalshi-palette-blue-x10: rgba(38, 92, 255, 1);
    --kalshi-palette-blue-x20: rgba(38, 92, 255, 0.08);
    --kalshi-palette-blue-x30: rgba(38, 92, 255, 0.16);
    --kalshi-palette-blue-x40: rgba(32, 77, 214, 1);
    --kalshi-palette-blue-x50: rgba(23, 55, 153, 1);
    --kalshi-palette-teal-x10: rgba(0, 181, 217, 1);
    --kalshi-palette-teal-x20: rgba(0, 181, 217, 0.08);
    --kalshi-palette-teal-x30: rgba(0, 181, 217, 0.12);
    --kalshi-palette-teal-x40: rgba(0, 152, 182, 1);
    --kalshi-palette-teal-x50: rgba(0, 109, 130, 1);
    --kalshi-palette-green-x10: rgba(10, 194, 133, 1);
    --kalshi-palette-green-x20: rgba(10, 194, 133, 0.08);
    --kalshi-palette-green-x30: rgba(10, 194, 133, 0.16);
    --kalshi-palette-green-x40: rgba(8, 163, 112, 1);
    --kalshi-palette-green-x50: rgba(6, 116, 80, 1);
    --kalshi-palette-yellow-x10: rgba(255, 214, 0, 1);
    --kalshi-palette-yellow-x20: rgba(255, 214, 0, 0.08);
    --kalshi-palette-yellow-x30: rgba(255, 214, 0, 0.12);
    --kalshi-palette-yellow-x40: rgba(214, 180, 0, 1);
    --kalshi-palette-yellow-x50: rgba(153, 128, 0, 1);
    --kalshi-palette-orange-x10: rgba(255, 106, 0, 1);
    --kalshi-palette-orange-x20: rgba(255, 106, 0, 0.08);
    --kalshi-palette-orange-x30: rgba(255, 106, 0, 0.12);
    --kalshi-palette-orange-x40: rgba(214, 89, 0, 1);
    --kalshi-palette-orange-x50: rgba(153, 64, 0, 1);
    --kalshi-palette-red-x10: rgba(217, 22, 22, 1);
    --kalshi-palette-red-x20: rgba(217, 22, 22, 0.06);
    --kalshi-palette-red-x30: rgba(217, 22, 22, 0.1);
    --kalshi-palette-red-x40: rgba(217, 22, 22, 1);
    --kalshi-palette-red-x50: rgba(130, 13, 62, 1);
    --kalshi-palette-gradient-x10: radial-gradient(100% 100% at 0% 100%, #00B5D9 0%, #265CFF 31.77%, #AA00FF 66.15%, #D90048 100%);
    --kalshi-palette-special-mint: #00D991;
    --kalshi-palette-special-black: linear-gradient(135deg, #B2ADA1 0%, #A09C91 25%, #D1CEC7 50%, #8E8A81 75%, #B2ADA1 100%);
    --kalshi-palette-special-gold: #F2BA49;
    --kalshi-palette-special-silver: #B8CBD9;
    --kalshi-palette-special-bronze: #E5AA95;
    --kalshi-palette-special-platinum: linear-gradient(135deg, #D9D9D9 0%, #AEAEAE 25%, #E8E8E8 50%, #828282 75%, #D9D9D9 100%);
    --kalshi-palette-special-diamond: linear-gradient(135deg, #95E5E5 0%, #A1A1E5 11.11%, #E5ACE5 22.22%, #F2F2DA 44.44%, #ACE5E5 55.56%, #7478A6 66.67%, #A1A1E5 77.78%, #D9D9C3 88.89%, #95E595 100%);
    --kalshi-palette-special-brand: rgba(40, 204, 149, 1);
    --kalshi-palette-brand-primary: rgba(40, 204, 149, 1);
    --kalshi-palette-brand-secondary: rgba(0, 50, 33, 1);
    --kalshi-palette-brand-tertiary: #003221;
    --kalshi-palette-brand-x20: rgba(229, 251, 244, 1);
    --kalshi-palette-brand-x30: rgba(179, 244, 222, 1);
    --kalshi-palette-brand-x40: rgba(128, 236, 200, 1);
    --kalshi-palette-brand-x50: rgba(77, 228, 178, 1);
    --kalshi-palette-brand-x60: rgba(0, 195, 130, 1);
    --kalshi-palette-brand-x70: rgba(0, 152, 102, 1);
    --kalshi-palette-brand-x80: rgba(0, 109, 73, 1);
    --top-navbar-height: 107px;
    --announcement-height: 0px;
    -webkit-font-smoothing: antialiased;
    pointer-events: auto;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #3b82f680;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
    box-sizing: border-box;
    display: flex;
    min-height: 38px;
    width: 100%;
    align-items: center;
    gap: .5rem;
    border-radius: 100px!important;
    border-width: 1px;
    border-style: solid;
    border-color: #0000!important;
    background-color: #00000012;
    padding-left: 44px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--text-x10);
    transition-property: background-color;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
    font-family: var(--font-graphik),sans-serif;
    font-feature-settings: "case" 1,"lnum" 1,"pnum" 1;
}

.foo {
      -webkit-tap-highlight-color: transparent;
    font-size: 100%;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    --text-x10: #000000e6;
    --text-x20: #0000008c;
    --text-x30: #0000004d;
    --text-white: #fff;
    --text-black: #000000e6;
    --text-inverse: #fff;
    --fill-x10: #000000e6;
    --fill-x20: #00000059;
    --fill-x30: #0003;
    --fill-x40: #0000001a;
    --fill-x50: #00000012;
    --fill-x55: #0000000d;
    --fill-x60: #00000008;
    --fill-white: #fff;
    --fill-inverse: #fff;
    --surface-x10: #fff;
    --surface-x20: #fffffff5;
    --surface-x30: #fff;
    --surface-x40: #fff;
    --surface-inverse: #1a1a1a;
    --surface-overlay: #0006;
    --surface-foreground: #0000000d;
    --surface-foreground-opaque: #f7f7f7;
    --sell-x10: #000000e6;
    --sell-x20: #0000000d;
    --sell-x30: #0000001a;
    --sell-x40: #00000073;
    --sell-x50: #0009;
    --purple-x10: #a0f;
    --purple-x20: #aa00ff14;
    --purple-x30: #aa00ff29;
    --purple-x40: #8f00d6;
    --purple-x50: #609;
    --blue-x10: #265cff;
    --blue-x20: #265cff14;
    --blue-x30: #265cff29;
    --blue-x40: #204dd6;
    --blue-x50: #173799;
    --teal-x10: #00b5d9;
    --teal-x20: #00b5d914;
    --teal-x30: #00b5d91f;
    --teal-x40: #0098b6;
    --teal-x50: #006d82;
    --green-x10: #0ac285;
    --green-x20: #0ac28514;
    --green-x30: #0ac28529;
    --green-x40: #08a370;
    --green-x50: #067450;
    --yellow-x10: #ffd600;
    --yellow-x20: #ffd60014;
    --yellow-x30: #ffd6001f;
    --yellow-x40: #d6b400;
    --yellow-x50: #998000;
    --orange-x10: #ff6a00;
    --orange-x20: #ff6a0014;
    --orange-x30: #ff6a001f;
    --orange-x40: #d65900;
    --orange-x50: #994000;
    --red-x10: #d91616;
    --red-x20: #d916160f;
    --red-x30: #d916161a;
    --red-x40: #d91616;
    --red-x50: #820d3e;
    --brand-primary: #28cc95;
    --brand-secondary: #003221;
    --custom-fill: #00000008;
    --content-width: 1320px;
    --trader-drawer-width: 360px;
    --trader-drawer-width-lg: 300px;
    --header-height: 106px;
    --container-x10: #000000e6;
    --container-x20: #00000059;
    --container-x30: #0000000d;
    --container-x40: #80808005;
    --core-black: #000;
    --core-white: #fff;
    --core-inverse: #fff;
    --stroke-x10: #0003;
    --stroke-x20: #0000001a;
    --stroke-x30: #0000000f;
    --surface-transparent: #fff0;
    --special-gold: #e5bd45;
    --special-silver: #98a7b2;
    --special-bronze: #b28474;
    --special-tradeslip-bg: #fff;
    --font-graphik: "graphik","graphik Fallback";
    --font-graphik-condensed: "graphikCondensed","graphikCondensed Fallback";
    --bprogress-color: var(--green-x10);
    --bprogress-height: 2px;
    --bprogress-spinner-size: 18px;
    --bprogress-spinner-animation-duration: 400ms;
    --bprogress-spinner-border-size: 2px;
    --bprogress-box-shadow: 0 0 10px var(--green-x10), 0 0 5px var(--green-x10);
    --bprogress-z-index: 99999;
    --bprogress-spinner-top: 15px;
    --bprogress-spinner-bottom: auto;
    --bprogress-spinner-right: 15px;
    --bprogress-spinner-left: auto;
    --kalshi-palette-text-x10: rgba(0, 0, 0, 0.9);
    --kalshi-palette-text-x20: rgba(0, 0, 0, 0.55);
    --kalshi-palette-text-x30: rgba(0, 0, 0, 0.3);
    --kalshi-palette-text-black: rgba(0, 0, 0, 0.9);
    --kalshi-palette-text-white: rgba(255, 255, 255, 1);
    --kalshi-palette-text-inverse: rgba(255, 255, 255, 1);
    --kalshi-palette-fill-x10: rgba(0, 0, 0, 0.9);
    --kalshi-palette-fill-x20: rgba(0, 0, 0, 0.35);
    --kalshi-palette-fill-x30: rgba(0, 0, 0, 0.2);
    --kalshi-palette-fill-x40: rgba(0, 0, 0, 0.1);
    --kalshi-palette-fill-x50: rgba(0, 0, 0, 0.07);
    --kalshi-palette-fill-x55: rgba(0, 0, 0, 0.05);
    --kalshi-palette-fill-x60: rgba(0, 0, 0, 0.03);
    --kalshi-palette-fill-white: rgba(255, 255, 255, 1);
    --kalshi-palette-fill-inverse: rgba(255, 255, 255, 1);
    --kalshi-palette-surface-x10: rgba(255, 255, 255, 1);
    --kalshi-palette-surface-x20: rgba(255, 255, 255, 0.96);
    --kalshi-palette-surface-x30: rgba(255, 255, 255, 1);
    --kalshi-palette-surface-x40: rgba(255, 255, 255, 1);
    --kalshi-palette-surface-inverse: rgba(26, 26, 26, 1);
    --kalshi-palette-surface-overlay: rgba(0, 0, 0, 0.4);
    --kalshi-palette-surface-foreground: rgba(0, 0, 0, 0.05);
    --kalshi-palette-yes-x10: rgba(10, 194, 133, 1);
    --kalshi-palette-yes-x20: rgba(10, 194, 133, 0.08);
    --kalshi-palette-yes-x30: rgba(10, 194, 133, 0.16);
    --kalshi-palette-yes-x40: rgba(8, 163, 112, 1);
    --kalshi-palette-yes-x50: rgba(6, 116, 80, 1);
    --kalshi-palette-no-x10: rgba(217, 22, 22, 1);
    --kalshi-palette-no-x20: rgba(217, 22, 22, 0.06);
    --kalshi-palette-no-x30: rgba(217, 22, 22, 0.1);
    --kalshi-palette-no-x40: rgba(217, 22, 22, 1);
    --kalshi-palette-no-x50: rgba(130, 13, 62, 1);
    --kalshi-palette-sell-x10: rgba(0, 0, 0, 0.9);
    --kalshi-palette-sell-x20: rgba(0, 0, 0, 0.05);
    --kalshi-palette-sell-x30: rgba(0, 0, 0, 0.1);
    --kalshi-palette-sell-x40: rgba(0, 0, 0, 0.45);
    --kalshi-palette-sell-x50: rgba(0, 0, 0, 0.6);
    --kalshi-palette-critical-x10: rgba(217, 22, 22, 1);
    --kalshi-palette-critical-x20: rgba(217, 22, 22, 0.06);
    --kalshi-palette-critical-x30: rgba(217, 22, 22, 0.1);
    --kalshi-palette-critical-x40: rgba(217, 22, 22, 1);
    --kalshi-palette-critical-x50: rgba(130, 13, 62, 1);
    --kalshi-palette-purple-x10: rgba(170, 0, 255, 1);
    --kalshi-palette-purple-x20: rgba(170, 0, 255, 0.08);
    --kalshi-palette-purple-x30: rgba(170, 0, 255, 0.16);
    --kalshi-palette-purple-x40: rgba(143, 0, 214, 1);
    --kalshi-palette-purple-x50: rgba(102, 0, 153, 1);
    --kalshi-palette-blue-x10: rgba(38, 92, 255, 1);
    --kalshi-palette-blue-x20: rgba(38, 92, 255, 0.08);
    --kalshi-palette-blue-x30: rgba(38, 92, 255, 0.16);
    --kalshi-palette-blue-x40: rgba(32, 77, 214, 1);
    --kalshi-palette-blue-x50: rgba(23, 55, 153, 1);
    --kalshi-palette-teal-x10: rgba(0, 181, 217, 1);
    --kalshi-palette-teal-x20: rgba(0, 181, 217, 0.08);
    --kalshi-palette-teal-x30: rgba(0, 181, 217, 0.12);
    --kalshi-palette-teal-x40: rgba(0, 152, 182, 1);
    --kalshi-palette-teal-x50: rgba(0, 109, 130, 1);
    --kalshi-palette-green-x10: rgba(10, 194, 133, 1);
    --kalshi-palette-green-x20: rgba(10, 194, 133, 0.08);
    --kalshi-palette-green-x30: rgba(10, 194, 133, 0.16);
    --kalshi-palette-green-x40: rgba(8, 163, 112, 1);
    --kalshi-palette-green-x50: rgba(6, 116, 80, 1);
    --kalshi-palette-yellow-x10: rgba(255, 214, 0, 1);
    --kalshi-palette-yellow-x20: rgba(255, 214, 0, 0.08);
    --kalshi-palette-yellow-x30: rgba(255, 214, 0, 0.12);
    --kalshi-palette-yellow-x40: rgba(214, 180, 0, 1);
    --kalshi-palette-yellow-x50: rgba(153, 128, 0, 1);
    --kalshi-palette-orange-x10: rgba(255, 106, 0, 1);
    --kalshi-palette-orange-x20: rgba(255, 106, 0, 0.08);
    --kalshi-palette-orange-x30: rgba(255, 106, 0, 0.12);
    --kalshi-palette-orange-x40: rgba(214, 89, 0, 1);
    --kalshi-palette-orange-x50: rgba(153, 64, 0, 1);
    --kalshi-palette-red-x10: rgba(217, 22, 22, 1);
    --kalshi-palette-red-x20: rgba(217, 22, 22, 0.06);
    --kalshi-palette-red-x30: rgba(217, 22, 22, 0.1);
    --kalshi-palette-red-x40: rgba(217, 22, 22, 1);
    --kalshi-palette-red-x50: rgba(130, 13, 62, 1);
    --kalshi-palette-gradient-x10: radial-gradient(100% 100% at 0% 100%, #00B5D9 0%, #265CFF 31.77%, #AA00FF 66.15%, #D90048 100%);
    --kalshi-palette-special-mint: #00D991;
    --kalshi-palette-special-black: linear-gradient(135deg, #B2ADA1 0%, #A09C91 25%, #D1CEC7 50%, #8E8A81 75%, #B2ADA1 100%);
    --kalshi-palette-special-gold: #F2BA49;
    --kalshi-palette-special-silver: #B8CBD9;
    --kalshi-palette-special-bronze: #E5AA95;
    --kalshi-palette-special-platinum: linear-gradient(135deg, #D9D9D9 0%, #AEAEAE 25%, #E8E8E8 50%, #828282 75%, #D9D9D9 100%);
    --kalshi-palette-special-diamond: linear-gradient(135deg, #95E5E5 0%, #A1A1E5 11.11%, #E5ACE5 22.22%, #F2F2DA 44.44%, #ACE5E5 55.56%, #7478A6 66.67%, #A1A1E5 77.78%, #D9D9C3 88.89%, #95E595 100%);
    --kalshi-palette-special-brand: rgba(40, 204, 149, 1);
    --kalshi-palette-brand-primary: rgba(40, 204, 149, 1);
    --kalshi-palette-brand-secondary: rgba(0, 50, 33, 1);
    --kalshi-palette-brand-tertiary: #003221;
    --kalshi-palette-brand-x20: rgba(229, 251, 244, 1);
    --kalshi-palette-brand-x30: rgba(179, 244, 222, 1);
    --kalshi-palette-brand-x40: rgba(128, 236, 200, 1);
    --kalshi-palette-brand-x50: rgba(77, 228, 178, 1);
    --kalshi-palette-brand-x60: rgba(0, 195, 130, 1);
    --kalshi-palette-brand-x70: rgba(0, 152, 102, 1);
    --kalshi-palette-brand-x80: rgba(0, 109, 73, 1);
    --top-navbar-height: 107px;
    --announcement-height: 0px;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "tnum" on,"lnum" on,"case" on,"cv01" on,"cv08" on,"cv09" on;
    font-family: inter,inter Fallback;
    color: var(--text-x10);
    pointer-events: auto;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #3b82f680;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
    position: absolute;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
}

.about-button {
  border-radius: 100px;
  color: white;
  background: #28cc95;
  width: 60px;
  border: none;
  font-family: inter;
  margin-left: 16px;
}