.navbar-container {
  border-bottom: solid 1px rgba(0, 0, 0, 0.07);
}

.navbar {
  display: flex;
  align-items: center;
  height: 40px;
  max-width: 1320px;
  padding: 12px 24px;
}

nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo {
  color: #28CC95;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: 700;
  padding: 0 20px;
  margin: 0;
  text-decoration: none;
}

.nav-link-container {
  display: flex;
  align-items: center;
  vertical-align: center;
}

.nav-link {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  height: 36px;
  padding: 0 16px;
  border-radius: 100px;
  transition: background-color 0.3s, color 0.1s;
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}